

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  background-size: contain;
}

.dark-mode {
  background-image: url("assets/animated-nightt-847060c0-1d4f-46bf-a586-258ff49aa6b0.png");
  background-size: cover;
  color: white;
}
.light-mode{
  background-image: url("assets/Firefly-animated-weather-app-background-day-time-image-in-size-of-16935669.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 20px;
}

button{
  padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

img{
  aspect-ratio: 3 / 2;
  height: 40px;
  object-fit: contain;
  min-width: 40px;
  margin-right: 8px;
  vertical-align: middle;
}
span{
  font-weight: bold;
}
@media (max-width: 600px) {
  .app {
    padding: 10px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }
  header h1{
    min-width: 80%;
    text-align: left;
  }

  main {
    margin-top: 10px;
  }

}
